.checkbox {
  width: 82px;
  height: 40px;
  background-color: var(--color-menu);
  border: 1px solid var(--color-secundario);
  border-radius: 30px;
  position: relative;
  /* color: black; */
  /* overflow: hidden; */
}

#checkbox_toggle {
  display: none;
  
}

.checkbox .toggle {
  width: 40px;
  /* border-radius: 555px; */
  /* border: 1px solid yellow; */

  height: 40px;
  position: absolute;
  /* border-radius: 50%; */
  /* border-left: 50%; */
  /* border-right: none;  */
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  /* border-radius: ; */
  left: -1px;
  top: -1px;
  /* bottom: 10px; */
  cursor: pointer;
  /* background: linear-gradient(40deg, #FF0080, #FF8C00 70%); */
  background-image: url(../images/language/chile_64px.png);
  background-size: cover;
  transition: 0.4s;
  /* opacity: 0.3; */
  /* box-shadow: 0px 0px 3px rgb(255, 255, 20), 0px 0px 5px rgb(255, 255, 20); */
}

.checkbox .slide {
  width: 100px;
  height: 40px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */
  cursor: pointer;
}

/* .checkbox .slide .text {
  border-radius: none;
  font-size: 16px;
  font-weight: 700;
  z-index: 100;
  cursor: pointer;
} */

.check:checked+.checkbox .slide .toggle {
  
  transform: translateX(40px);
  opacity: 1;
  background-image: url(../images/language/estados-unidos_64px.png);
  /* background-size: ; */
  
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  /* background: linear-gradient(40deg, #8983F7, #A3DAFB 70%); */
  /* box-shadow: -0px -0px 10px #8983F7, -0px -0px 3px #8983F7; */
}

.check:checked+.checkbox .slide {
  /* background-image: url(../images/language/estados-unidos_64px.png);
  background-size: cover; */
  
  color: #fff;
  
}
