/* @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap'); */
:root{
    /* ESTANDARIZACION DE COLORES */
    --color-primario: #2bff00;
    --color-secundario: #f5f5f5;
    --color-terciario: #38996d;  
    --color-menu: #181818;
    --color-background: #253237;
    --color-close: #ff0000;
    --color-git: #09c6fffd;

    /* ESTANDARIZACION DE SHADOWS */
    --shadow-btn:   
        0 0 5px var(--color-primario),
        0 0 25px var(--color-primario),
        0 0 100px var(--color-primario),
        0 0 200px var(--color-primario);
    --shadow-btn-close:
        0 0 5px var(--color-close),
        0 0 25px var(--color-close),
        0 0 100px var(--color-close),
        0 0 200px var(--color-close);
    --shadow-btn-git:
        0 0 5px var(--color-git),
        0 0 25px var(--color-git),
        0 0 100px var(--color-git),
        0 0 200px var(--color-git); 
}

/* ESTANDARIZACION DE FUENTE */
@font-face {
    font-family: fuentePrincipal;
    src: url(../font/Righteous-Regular.ttf);
}
@font-face {
    font-family: fuenteSecundaria;
    src: url(../font/WorkSans-VariableFont_wght.ttf);
}


*{
    box-sizing: border-box;
    font-family: 'fuenteSecundaria';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}


/* ----- FORMATO GENERAL ----- */

/* CONTENEDORES */
.contenedor-seccion{
    max-width: 1100px;
    margin: auto;
}
.acercade,.skills .contenedor-seccion{
    height: 100vh;
}

/* TITULOS */
h1,h2,h3,h6,span{
    font-family: "fuentePrincipal";
}
h1,h2,h3,h6{
    margin-top: 10px;
}
h1{
    text-shadow: 0 0 18px var(--color-terciario); 
}
h2{
    color: var(--color-primario);
    font-size: 48px;
    text-shadow: 2px 2px 20px var(--color-terciario);
    padding: 20px 0;
}
h3{
    font-style: italic;
    text-shadow: 0 0 18px var(--color-primario); 
}
h2,h3{
    text-align: center;
    opacity: 0;
}

/* BOTONES */
button{
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--color-primario) !important;
    border: none;
    border-radius: 20px;
    width: 160px;
    height: 45px;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--color-secundario);
}
button:hover{
    background-color: var(--color-primario);
    box-shadow: var(--shadow-btn);
}

/* HOVER */
button:hover .texto-boton{
    display: none;
}
button:hover i{
    color: var(--color-terciario);
    border: 1px solid var(--color-terciario);
}



/* SLIDER cambio de idioma*/
.idiomas{
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    opacity: .1;
    transition: 1.5s ease;
    transform: scale(0);
}
.idiomas.animado{
    opacity: 1;
    transform: scale(1);
}
.idiomas .idioma_item{
    opacity: .2;
    border-radius: 50%;
    transition: .5s;
}
.idiomas .idioma_item:hover{
    opacity: .5;
    box-shadow: 0 0 10px 3px var(--color-secundario);
}
.idiomas .idioma_item.active{
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 0 0 10px 3px var(--color-primario);
    scrollbar-gutter: stable;
}
.idiomas .idioma_item img{
    width: 35px;
    display: block;
    cursor: pointer;
}



/* ----- FORMATO ----- */


/* MENU */
.contenedor-header{
    background-color: var(--color-menu);
    /* border-radius: 0 0 20px 20px; */
    /* border: 1px solid var(--color-primario); */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

    opacity: .1;
    transition: 1.5s ease;
}
.contenedor-header.animado{
    opacity: 1;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo{
    opacity: 0;
    transition: 1.5s;
}
.contenedor-header header .logo a{
    font-family: "fuentePrincipal"; 
    font-size: 36px;
    color: var(--color-primario);
    text-decoration: none;
    text-shadow: 0 0 10px var(--color-primario);
}
.contenedor-header header .logo.animado{
    opacity: 1;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
    width: 535px;
}
.contenedor-header header nav ul li {
    width: auto;
    /* scrollbar-gutter: stable; */
}
.contenedor-header header nav ul li a{
    font-family: "fuentePrincipal"; 
    text-align: none;
    color: var(--color-secundario);
    margin: 0 15px;
    padding: 3px;
    transition: 0.5s;
    text-decoration: none;
}

.contenedor-header header nav ul li {
    opacity: 0.01;
    transform: translateX(-200px);   
}
.contenedor-header header nav ul li.animado {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.contenedor-header header nav ul li a:hover{
    color: var(--color-terciario) !important;
    text-shadow: 0 0 10px var(--color-terciario);
}
/* Clase .active con creación por JS para fijar color y scroll*/
.contenedor-header header nav ul li a.active{
    color: var(--color-primario);
    text-shadow: 0 0 10px var(--color-primario);
}

.menu-responsive{
    width: 35px;
    background-color: var(--color-terciario);
    color: var(--color-secundario);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;

    opacity: 0.1;
    transform: translateX(-150px);  
}
.menu-responsive.animado{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1.5s ease, transform 1.5s ease;
}




/* CV */
#cv{
    background: linear-gradient(to top, var(--color-background), var(--color-menu));
}
.contenedor-cv .titulo-inicio{
    display: none;
}
.pdfview{
    margin: auto;
    box-shadow: 0 0 30px 5px var(--color-terciario);
    margin-top: 75px;
    margin-bottom: 60px;
    display: block;
    width: 90%;
    height: 100vh;
    border-radius: 20px;

}
#contenedor-cv header nav{
    width: 200px;
}
#contenedor-cv header nav a{
    font-family: fuentePrincipal;
    color: var(--color-secundario);
    text-decoration: none;
}
#contenedor-cv header nav a:hover{
    color: var(--color-terciario);
}
#contenedor-cv header nav a:active{
    color: var(--color-primario);
}

@media screen and (max-width:768px){
    #contenedor-cv header .logo a{
        font-size: 1.5rem;
    }
    .pdfview{
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        border-radius: 5px;
    }
    #contenedor-cv header nav.responsive{
        width: 180px;  
        height: fit-content;   
    } 
    #contenedor-cv header nav ul li a{
        padding: 5px;
    }
    .idiomas{
        justify-content: center;
        gap: 15px;
    }
    .idiomas .idioma_item img{
        width: 25px;   
    }
}




/* INICIO */

.inicio{
    background: linear-gradient(to top, rgb(24, 24, 24, .7), rgb(37, 50, 55, .5)),url(../images//template/fondo_auto_1920x1080.jpg); 
    background-size: 100% 100%;
    /* background-size: cover; */

    height: 100vh;
    color: var(--color-secundario);
    position: relative;
    display: flex;
    align-items: center;
}

.inicio .banner{
    padding: 20px;
    /* background-color: rgba(var(--color-menu), 0.7); */
    background: transparent;
    border: 1px solid #f5f5f550;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    border-radius: 40px;

    z-index: 2;
    opacity: 0;
    transform: translateX(150px);
}

.inicio .banner.animado{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.inicio .banner img{
    margin-top: 40px;
    box-shadow: 0 0 50px 1px var(--color-secundario);
    
    display: block;
    width: 250px;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;

    opacity: 0;
    transform: translateX(-200px);
}

.inicio .banner img.animado{
    opacity: 1;
    transform: translateX(0);
    transition: .5s, opacity 1.5s ease, transform 1.5s ease;
}
.inicio .banner img:hover{
    /* -webkit-transform:scale(1); */
    transform:scale(1.12);
    box-shadow: 0 0 50px 1px var(--color-primario);
} 
.inicio .banner h1{
    margin-top: 25px;
    font-size: 2.1rem;
}
/* .inicio .banner h1 p{
    font-family: fuentePrincipal;
    margin-top: 25px;
    font-size: 2.2rem;
    display: inline-flex;
    margin-right: -1px;
    transition: .8s ease !important;
}
.inicio .banner h1 p:hover{
    cursor: pointer;
    color: var(--color-primario);
    transform: scale(1.2);
} */

.inicio .banner h6 span{
    font-size: 1.3rem;
    /* font-size: 20px; */
    font-weight: normal;
    color: var(--color-primario);
    text-shadow: 0 0 18px var(--color-primario); 
}
.inicio .banner h1{
    opacity: 0.1;
    transform: translateX(-300px);
}
.inicio .banner h6{
    opacity: 0.1;
    transform: scale(0.01);
    height: 25px;
}
.inicio .banner h1.animado{
    opacity: 1;
    transform: translateX(0);
    transition: opacity 2.5s ease, transform 3s ease;
}
.inicio .banner h6.animado{
    opacity: 1;
    transform: scale(1);
    /* transform: translateX(0); */
    transition: opacity 2.5s ease, transform 2.5s ease;
}


.inicio .banner .redes nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

.inicio .banner .redes nav ul li a{
    color: var(--color-terciario);
    display: inline-block;
    border: 1px solid var(--color-terciario);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 20px 5px;
    font-size: 20px;
    transition: .5s;
}
.inicio .banner .redes nav ul li a:hover{
    background-color: var(--color-primario);
    color: var(--color-menu);
    border: transparent;
    box-shadow: var(--shadow-btn);
    transform: scale(1.2);
}

.inicio .banner .redes nav ul li{
    opacity: 0.01;
    transform: translateX(-300px);   
}
.inicio .banner .redes nav ul li.animado {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1.5s ease, transform 1.5s ease;
}


.inicio a{
    text-decoration: none;
}
.inicio .banner .boton{
    opacity: 0.1;
    transform: translateX(-300px);
    transition: 1s, opacity 3.5s ease, transform 2.5s ease !important;
}
.inicio .banner .boton.animado{
    opacity: 1;
    transform: translateX(0px);
}
.inicio .banner button i{
    display: none;
}
.inicio .banner button:hover i{
    display: contents;
    font-size: 18px;
}



/* ACERCA DE */

.acercade{
    background: linear-gradient(to top, var(--color-background), var(--color-menu));
    color: var(--color-secundario);
    padding: 50px 20px;
}
.acercade .contenedor-seccion h2{
    opacity: 0.1;
    transform: translateX(-150px);
}
.acercade .contenedor-seccion .col.derecha{
    opacity: 0.1;
    transform: translateX(150px);
}
.acercade .contenedor-seccion h2.animado,h3.animado{
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.acercade .contenedor-seccion span{
    font: 18px;
    line-height: 22px;
    margin-bottom: 0px;
    color: var(--color-terciario);
    font-weight: bold;
}
.acercade .contenedor-seccion .contenedor-informacion a{
    color: var(--color-terciario);
}
.acercade .contenedor-seccion .contenedor-informacion a:hover{
    color: var(--color-primario);
}
.acercade .contenedor-informacion p{
    text-align: justify;
    margin-bottom: 15px;
}
.acercade .contenedor-informacion{
    opacity: 0.1;
    transform: scale(0%);
    text-align: justify;
}
.acercade .contenedor-informacion.animado{
    opacity: 1;
    transform: scale(100%);
    transition: opacity 1.5s ease, transform 1.5s ease;
}


.acercade .fila{
    display: flex;  
}
.acercade .fila .col{
    width: 50%;
}

/* Acercade animado */
.acercade .fila .col h3{
    opacity: 0;
    transform: translate(-150px);
}
.acercade .fila .col h3.animado{
    opacity: 1;
    transform: translate(0px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.acercade .fila .col.izquierda{
    opacity: 0;
    transform: translateX(-150px);
}
.acercade .fila .col.izquierda.animado{
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}


.acercade .fila .col h3{
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.acercade .fila .col ul{
    list-style: none;
    margin-top: 30px;
}
.acercade .fila .col ul li{
    margin: 12px 0;
}
.acercade .fila .col ul li strong{
    display: inline-block;
    color: var(--color-terciario);
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.acercade .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.acercade .fila .col .contenedor-intereses .intereses{
    width: 100px;
    height: 100px;
    background-color: var(--color-menu);
    border-radius: 10px;
    margin: 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}
.acercade .fila .col .contenedor-intereses .intereses:hover{
    transition: .5s;
    background-color: var(--color-primario);
    color: var(--color-menu);
    box-shadow: var(--shadow-btn);
}
.acercade .fila .col .contenedor-intereses .intereses:hover span{
    color: var(--color-menu);
    transition: .5s;
}
.acercade .fila .col .contenedor-intereses .intereses i{
    font-size: 30px;
    margin-top: 20px;
}
.acercade .fila .col .contenedor-intereses .intereses span{
    margin-top: 10px;
}


/* SKILLS */

.skills{
    background: linear-gradient(to top, var(--color-menu), var(--color-background));
    color: var(--color-secundario);
    padding: 50px 20px;
}
.skills h2{
    opacity: 0;
    transform: translateX(-150px);
}
.skills h2.animado{
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}

/* Animacion skills */
.skills .fila .col h3{
    opacity: 0;
    transform: translate(-150px);
}
.skills .fila .col h3.animado{
    opacity: 1;
    transform: translate(0px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.skills .fila .col{
    opacity: 0;
    transform: translateX(-150px);
}
.skills .fila .col.izquierda{
    opacity: 0;
    transform: translateX(-150px);
}
.skills .fila .col.izquierda.animado{
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.skills .fila .col.derecha{
    opacity: 0;
    transform: translateX(150px);
}
.skills .fila .col.derecha.animado{
    opacity: 1;
    transform: translateX(0px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.skills .fila .col h3{
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.skills .contenedor-skill{
    width: 80%;
    justify-content: space-between;
}
.skills span{
    width: 100%;
    justify-content: start;
}
.skills .skills-img{
    display: flex;
    margin-left: auto;
    justify-content: end;
    justify-items: end;
    align-items: end;
    align-self: flex-end;
}
.skills img{
    background-color: var(--color-secundario);
    border: 1px solid var(--color-terciario);
    border-radius: 10px;
    
    width: 50px;
    height: 50px;
    padding: 5px;
}
.skills i{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    padding: 10px;
    color: var(--color-menu);
    background-color: var(--color-terciario);
    border-radius: 10px;
    margin-right: 10px;
    transition: .5s;
}
.skills i:hover{
    cursor: pointer;
    color: var(--color-primario);
}
.skills .skill > .contenedor-skill,span{
    font-weight: bold;
    display: inline-flex;
    margin-bottom: 10px;
    align-items: center;
}

.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: var(--color-terciario);
    border-radius: 10px;
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
}
.skills .skill .progreso{
    background-color: var(--color-primario);
    width: var(--progreso);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 30px;
    width: fit-content;
    background-color: var(--color-primario);
    box-shadow: var(--shadow-btn);
    color: var(--color-menu);
    border-radius: 20px;
    line-height: 40px;
    text-align: center;
    /* top: -17px; */
    top: -13px;
    right: -15px;
    font-size:14px ;
}

.skills .skill .lvl{
    width: 0%;
    animation: lvl 2s forwards 1s;
}
@keyframes lvl {
    0%{width: 0%;}
    100%{width: var(--progreso);}    
}
.skills .skill .progreso:active{
    animation: lvlclick; 
}


/* CV */

.curriculum{
    background: linear-gradient(to top, var(--color-background), var(--color-menu));
    color: var(--color-secundario);
    padding: 50px 20px;
}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid var(--color-terciario);
}
.curriculum .fila .derecha{
    border-left: 2px solid var(--color-terciario);
}

/* Animacion CV */
.curriculum h2{
    opacity: 0;
    transform: translate(-150px);
}
.curriculum h2.animado{
    opacity: 1;
    transform: translate(0px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.curriculum .fila .col h3{
    opacity: 0;
    transform: translate(-150px);
}
.curriculum .fila .col h3.animado{
    opacity: 1;
    transform: translate(0px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.curriculum .fila .izquierda,.derecha{
    opacity: 0;
    transform: translate(-150px);
}
.curriculum .fila .izquierda.animado,.derecha.animado{
    opacity: 1;
    transform: translate(0px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}


.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: var(--color-menu);
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .lugar,.cargo{
    color: var(--color-terciario);
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: var(--color-terciario);
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .item a{
    color: var(--color-secundario);
}
.curriculum .fila .item a:hover{
    color: var(--color-primario);
}
.curriculum .fila .izq{
    border-right: 2px solid white;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid white;
    margin-left: 20px;
}
.curriculum .fila .item .conector1{
    height: 2px;
    background-color: var(--color-terciario);
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conector1 .circulo1{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--color-terciario);
    float: right;
    position: relative;
    bottom: 4px;  
}
.curriculum .fila .item .conector2{
    height: 2px;
    background-color: var(--color-terciario);
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conector2 .circulo2{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--color-terciario);
    float: left;
    position: relative;
    bottom: 4px;  
}



/* PROYECTOS   portafolio */
.proyectos{
    background: linear-gradient(to top, var(--color-menu), var(--color-background));
    color: var(--color-secundario);
    padding: 50px 20px;
}

/* Proyectos animados*/
.proyectos h2{
    opacity: 0;
    transform: translate(-150px);
}
.proyectos h2.animado{
    opacity: 1;
    transform: translate(0px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.proyectos .galeria .proyecto{
    opacity: 0;
    transform: translate(-150px);
}
.proyectos .galeria .proyecto.animado{
    opacity: 1;
    transform: translate(0px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.proyectos .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.proyectos .galeria .proyecto{
    position: relative;
    width: 340px;
    height: fit-content;
    margin: 10px;
    border: 10px double var(--color-terciario);
    border-radius: 10px;
    height: 260px;
    /* max-width: 100px; */
}
.proyectos .galeria .proyecto .nombre-proyecto{
    text-align: center;
    min-width: 340px;
    /* min-height: 150px; */
}
.proyectos .galeria .proyecto img{
    width: 100%;
    display: block;
    height: 220px;
}


/* overlay proyectos */
.proyectos .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(18, 18, 18, .8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}
.proyectos .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
    opacity: 1;
}
.proyectos .galeria .proyecto .overlay .contenedor-img-projects img{
    width: 50px;
    height: 50px;
    display: inline;
    margin: 5px auto;
    align-items: center;
    justify-content: center;
}
.proyectos .galeria .proyecto .overlay:hover{
    opacity: 1;
}
.proyectos .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}
.proyectos .galeria .proyecto .overlay button{
    background-color: #18181850;
    font-weight: bold;
    transform: scale(0%);
}
.proyectos .galeria .proyecto .overlay:hover button{
    transition: 1s ;
    transform: scale(100%);
}
.proyectos .galeria .proyecto .overlay button:hover{
    transition: .5s !important;
    background-color: var(--color-primario); 
    color: var(--color-menu);
}




/* MODAL PORTAFOLIO*/

.proyectos .modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #18181890;
    display: flex;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .4s;
    --transformar: translateY(-100vh);
    --transicion: transform .8s;
}
.proyectos .modal .modal-contenedor{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    background-color: var(--color-background);
    border-radius: 10px;
    padding: 1rem 1.5rem;
    gap: .1em;
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transformar);
    transition: var(--transicion);
    box-shadow: 0px 0px 15px 1px var(--color-primario);
}

.proyectos .modal .modal-contenedor .modal-titulo{
    opacity: 1;
    font-size: 1.8rem;
    color: var(--color-secundario);
    margin-top: 0;
    margin-bottom: 20px;
}
.proyectos .modal .modal-contenedor .contenedor-modal-img{
    width: 100%;
    max-width: 450px;
    margin: auto;
    border-radius: 20px;
}
.proyectos .modal .modal-contenedor .contenedor-modal-img .modal-img{
    width: 100%;
    border-radius: 20px;
    border: 1px solid var(--color-menu);
    box-shadow: 0px 0px 4px 4px var(--color-menu);
    margin-bottom: 10px;
}
.proyectos .modal .modal-contenedor hr{
    margin-bottom: 5px;
}
.proyectos .modal .modal-contenedor .modal-parrafo{
    margin-bottom: 10px;
    font-size: .9rem;
    text-align: justify;
}

.proyectos .modal.mostrar-detalle{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transformar: translateY(0);
    --transicion: transform .4s .4s;
}
.proyectos .modal .modal-contenedor .modal-botones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.proyectos .modal .modal-contenedor a{
    text-decoration: none;
}
.proyectos .modal .modal-contenedor .modal-ver,.modal-close,.modal-git{
    width: 100px;
    height: 40px;
    margin: 5px;
    transition: .5s;
}
.proyectos .modal .modal-contenedor .modal-ver{
    text-decoration: none;
    background-color: var(--color-background);
}
.proyectos .modal .modal-contenedor .modal-close{
    background-color: #ff000050;
    border: 1px solid var(--color-close) !important;
}
.proyectos .modal .modal-contenedor .modal-git{
    background-color: #09c6ff75;
    border: 1px solid var(--color-git) !important;
}

.proyectos .modal .modal-contenedor .modal-ver i,
.proyectos .modal .modal-contenedor .modal-close i,
.proyectos .modal .modal-contenedor .modal-git i,
.proyectos .modal .modal-contenedor .modal-ver:hover .texto-boton,
.proyectos .modal .modal-contenedor .modal-close:hover .texto-boton,
.proyectos .modal .modal-contenedor .modal-git:hover .texto-boton{
    display: none;
}
.proyectos .modal .modal-contenedor .modal-ver:hover{
    text-decoration: bold;
    color: var(--color-primario);
}
.proyectos .modal .modal-contenedor .modal-ver:hover i,
.proyectos .modal .modal-contenedor .modal-close:hover i,
.proyectos .modal .modal-contenedor .modal-git:hover i{
    display: contents;
    color: var(--color-menu);
    font-size: 18px;
}
/* .proyectos .modal .modal-contenedor .modal-close:hover i{
    display: contents;
    color: var(--color-menu);
    font-size: 18px;
} */


.proyectos .modal .modal-contenedor .modal-ver:hover{
    background-color: var(--color-primario);
    box-shadow: var(--shadow-btn);
}
.proyectos .modal .modal-contenedor .modal-close:hover{
    background-color: var(--color-close);
    box-shadow: var(--shadow-btn-close);
}
.proyectos .modal .modal-contenedor .modal-git:hover{
    background-color: var(--color-git);
    box-shadow: var(--shadow-btn-git);
}


/* CONTACTO */

.contacto{
    background: linear-gradient(to top, var(--color-background), var(--color-menu));
    color: var(--color-secundario);
    padding: 50px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input,textarea{
    background-color: var(--color-background);
    color: var(--color-secundario);
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

.contacto button i{
    display: none;
}
.contacto button:hover i{
    display: contents;
    font-size: 18px;
}

.contacto .col iframe{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: var(--color-menu);
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: var(--color-terciario);
    display: inline-block;
    margin-right: 20px;
}

/* CONTACTO ANIMADO */
.contacto h2{
    opacity: 0;
    transform: translate(-150px);
}
.contacto h2.animado{
    opacity: 1;
    transform: translate(0px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.contacto .fila .col.izquierda{
    opacity: 0;
    transform: translate(-150px);
}
.contacto .fila .col.izquierda.animado{
    opacity: 1;
    transform: translate(0px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}
.contacto .boton{
    opacity: .01;
    transform: translate(-150px);
    transition: 1s, opacity 2.5s ease, transform 2.5s ease !important;
}
.contacto .boton.animado{
    opacity: 1;
    transform: translate(0px);
}

/* ALERT */
.titulo-alert{
    opacity: 1;
    color: var(--color-primario);
    text-shadow: none;
}

.swal2-html-container{
    color: var(--color-secundario) !important;
}

.popup-alert{
    border-radius: 20px;
    background-color: var(--color-background);
    box-shadow: 0px 0px 15px 1px var(--color-primario);
}
.popup-alert-error{
    border-radius: 40px;
    background-color: var(--color-background);
    box-shadow: 0px 0px 15px 1px var(--color-close);
}
/* .icon-alert{
    color: red !important;
} */
/* .swal2-icon.swal2-success .swal2-success-circular-line-left,
.swal2-icon.swal2-success .swal2-success-circular-line-right {
  border-color: blue !important; 
} */
.swal2-icon.swal2-success .swal2-success-ring {
    border: 3px solid rgba(56, 153, 109, .4) !important; /* Cambiar el color del símbolo interior */
}

.timer-alert{
    background-color: var(--color-primario);
    border: 1px solid var(--color-secundario);
}
.timer-alert-error{
    background-color: red;
    border: 1px solid var(--color-secundario);
}
/* div:where(.swal2-container) div:where(.swal2-popup){
    background: var(--color-background);
} */
/* .swal2-title {
    color: tu-color-aqui;
} */
/* body.swal2-shown {
    overflow: hidden;
  } */
body.swal2-shown {
    /* overflow-y: scroll; */
    overflow: hidden;
    padding-right: 0 !important;
}



/* FOOTER */

footer{
    background-color: var(--color-menu);
    padding: 5px;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--color-terciario);
    color: var(--color-secundario);
    position: absolute;
    left: 50%;
    top: -25px;
    border-radius: 10px;
    line-height: 50px;
    font-size: 18px;
    transition: .5s !important;
}
footer .arriba:hover{
    border-radius: 50%;
    color: var(--color-primario);
    box-shadow: 0 0 2px 2px var(--color-secundario);
    font-size: 28px;
}
footer .arriba{
    transition: opacity 1.5s ease, transform 2s ease;
    opacity: 0.01;
    transform: scale(.01);
}
footer .arriba.animado{
    opacity: 1;
    transform: scale(1);
    transform: translateX(-50%);
}


footer .redes nav ul{
    display: flex;
    list-style: none;
    margin-top: 10px;
    max-height: 90px;
    justify-content: center;
}
footer .redes nav ul li a{
    color: var(--color-terciario);
    display: inline-block;
    border: 1px solid var(--color-terciario);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;

    font-size: 20px;
    transition: .5s;
}
footer .redes nav ul li a:hover{
    background-color: var(--color-primario);
    color: var(--color-menu);
    border: transparent;
    box-shadow: var(--shadow-btn);
    transform: scale(1.2);  
}

footer .redes nav ul li {
    opacity: 0.01;
    transform: translateX(-300px);   
}
footer .redes nav ul li.animado {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

footer h3{
    color: var(--color-terciario);
    transform: scale(0);
}
footer h3.animado{
    transition: opacity 1.5s ease, transform 1.5s ease;
    transform: scale(1);
}



/*  RESPONSIVE  */
@media screen and (max-width:980px) {
    .inicio{
        background: linear-gradient(to top, rgb(24, 24, 24, .7), rgb(37, 50, 55, .5)),url(../images//template/velocimetro.jpg); 
        background-size: 100% 100%;
    }
    .contenedor-header header .logo a{
        font-size: 1.5rem;
    }
    header nav{
        display: none;
    }    
    .menu-responsive{
        display: block;
        background-color: var(--color-terciario);
    }
    header nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 62px;
        background-color: var(--color-menu);
        width: 150px;
        border: 2px solid var(--color-secundario);
        border-radius: 20px 0 20px 0;
        overflow: hidden;
    }

    header nav.responsive ul{
        display: block !important;
    }
    header nav.responsive ul li{
        border-bottom: 1px solid var(--color-secundario);
        padding: 10px 0;
    }
    header nav.responsive ul li{
        opacity: 0;
        transform: translateX(-50px);
    }
    header nav.responsive ul li.animado {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 1.5s ease, transform 1.5s ease ;
    }

    .inicio .banner{
        margin-top: 90px;
        transform: translateX(-150px);
    }
 
    .inicio .banner button{
        margin: 0px auto;
    }
    .inicio .banner img{
        width: 180px;
    }
}
@media screen and (max-width:768px) {
    .inicio .banner h1{
        font-size: 1.7rem;
    }
    /* .inicio .banner h1 p{
        font-size: 1.6rem;
    } */
    .inicio .banner h6 span{
        font-size: 1.1rem;
    }
    .acercade,.skills .contenedor-seccion{
        height: auto;
    }
    .acercade .fila{
        display: block;
    }
    .acercade .fila .col{
        width: fit-content;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }
    .skills .contenedor-skill{
        width: 100%;
        justify-content: space-between;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }

    .proyectos .galeria{
        display: block;
        width: 100%;
    }
    .proyectos .galeria .proyecto{
        /* max-width: 100%; */
        /* margin-bottom: 105px; */
        margin: 15px auto;
    }
    .proyectos .galeria .proyecto img{
        width: 100%;
    }

    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
}